<article class="card" data-id="" [routerLink]="['/blog', blogPost().id]">
  <div class="article-photo">
    <img [src]="blogPost().image || './template.webp'" alt="article-img" />
  </div>
  <div class="card-text">
    <p class="p16 category">{{ blogPost().category }}</p>
    <h3 class="mb-21 template-title">{{ blogPost().title }}</h3>
    <p class="template-content">{{ blogPost().text }}</p>
    <p class="p16 template-time">
      <time>{{ blogPost().date }}</time>
    </p>
  </div>
  <div class="post-btn-container">
    <div (click)="onEdit($event)" class="post-btn cursor">
      <mat-icon svgIcon="edit"></mat-icon>
    </div>
    <div (click)="onDelete($event)" class="post-btn">
      <mat-icon svgIcon="delete"></mat-icon>
    </div>
  </div>
</article>
