@use '../../../../variables';

.card-text {
  flex: 1;
  min-width: 0;
  max-width: 100%;
}

.template-title {
  font-size: 24px;
  font-weight: 400;
  overflow-wrap: anywhere;
}

.template-content {
  display: none;
}

.article-photo {
  height: 217px;
  margin-bottom: 8px;
}

.post-btn-container {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.post-btn {
  opacity: 0;

  &:hover {
    border: solid 1px var(--light-grey);
  }
}

.cursor:hover {
  cursor: pointer;
}

:host {
  &:first-child {
    grid-column: 1/-1;
  }

  &:first-child .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;

    .card-text h3 {
      font-size: 40px;
      font-weight: 700;
      line-height: 55px;
      margin-bottom: 16px;
    }

    .article-photo {
      height: 453px;
      grid-column: span 2;
    }

    .post-btn {
      background-color: var(--white);
    }

    .template-content {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      overflow: hidden;
      overflow-wrap: break-word;
      margin-bottom: 16px;
    }
  }
}

@media screen and (width <= 800px) {
  .article-photo {
    height: auto;
  }

  .post-btn {
    opacity: 1;
    background-color: transparent;
  }

  :host {
    grid-column: span 2;
    display: flex;
    flex-direction: column;

    &:first-child .card {
      display: flex;
      flex-direction: column;

      .btn-more {
        grid-column: span 2;
      }
    }
  }
}

@media (width <= 480px) {
  .btn-more {
    margin-top: 0;
  }
}
