@use '../../../../variables';

.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 62px 34px;
  margin-top: var(--space77);
}

.articles-grid article:first-child {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
}

.articles-grid article:first-child .card-text h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 16px;
}

.articles-grid article:first-child .card-text {
  min-width: 0;
}

.articles-grid article:first-child > .article-photo {
  height: 453px;
  grid-column: span 2;
}

.articles-grid article:first-child .template-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  overflow-wrap: break-word;
  margin-bottom: 16px;
}

@media screen and (width <= 800px) {
  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .articles-grid article:first-child {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
  }
}

@media (width <= 480px) {
  .articles-grid {
    row-gap: 30px;
  }
}
