<mat-card class="post-card" appearance="outlined">
  <mat-card-header>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>
  <div class="card-content">
    <img src="./template.webp" alt="Photo for article" />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
        Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
        originally bred for hunting. The Shiba Inu is the smallest of the six original and distinct
        spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous
        terrain, the Shiba Inu was originally bred for hunting. The Shiba Inu is the smallest of the
        six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very
        well with mountainous terrain, the Shiba Inu was originally bred for hunting. The Shiba Inu
        is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
        agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred
        for hunting. The Shiba Inu is the smallest of the six original and distinct spitz breeds of
        dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba
        Inu was originally bred for hunting. The Shiba Inu is the smallest of the six original and
        distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting. The Shiba Inu is the
        smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog
        that copes very well with mountainous terrain, the Shiba Inu was originally bred for
        hunting. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
        from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
        was originally bred for hunting. The Shiba Inu is the smallest of the six original and
        distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting. The Shiba Inu is the
        smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog
        that copes very well with mountainous terrain, the Shiba Inu was originally bred for
        hunting. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
        from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
        was originally bred for hunting. The Shiba Inu is the smallest of the six original and
        distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting. The Shiba Inu is the
        smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog
        that copes very well with mountainous terrain, the Shiba Inu was originally bred for
        hunting. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
        from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
        was originally bred for hunting.
      </p>
    </mat-card-content>
  </div>
  <div class="card-footer">
    <p class="p16 post-time">
      <time>07.05.2026</time>
    </p>
    <mat-card-actions>
      <p>1</p>
      <button mat-icon-button><mat-icon svgIcon="like"></mat-icon></button>
      <p>2</p>
      <button matButton class="comment">COMMENT</button>
    </mat-card-actions>
  </div>
</mat-card>
