@if (post()) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-subtitle>{{ post()?.category }}</mat-card-subtitle>
      <mat-card-title>{{ post()?.title }}</mat-card-title>
    </mat-card-header>
    <div class="card-content">
      <img src="./template.webp" alt="Photo for article" />
      <mat-card-content>
        <p>
          {{ post()?.text }}
        </p>
      </mat-card-content>
    </div>
    <div class="card-footer">
      <p class="p16 post-time">
        <time>{{ post()?.date }}</time>
      </p>
      <mat-card-actions>
        <button (click)="increase()" mat-icon-button><mat-icon svgIcon="like"></mat-icon></button>
        <p>{{ post()?.rating }}</p>
        <button (click)="decrease()" mat-icon-button>
          <mat-icon svgIcon="dislike"></mat-icon>
        </button>
        <button (click)="scrollToComments()" matButton class="comment">COMMENT</button>
      </mat-card-actions>
    </div>
  </mat-card>
}
