<section class="hobby">
  <div class="hobby-grid">
    <h2 class="hobby-title">Hobby projects</h2>
    <p class="hobby-subtitle p21">
      Duis nisi do exercitation in irure aliqua commodo nisi eu id reprehenderit dolore fugiat
      consectetur irure labore est ea.
    </p>
    <div class="hobby-vert hide-info hobby-img-1">
      <div class="hide-info-text">
        <h3>Hobby project name</h3>
        <p class="p16">
          Duis nisi do exercitation in irure aliqua commodo nisi eu id reprehenderit dolore fugiat
          consectetur irure labore est ea.
        </p>
      </div>
      <img src="/hobby-vert.webp" alt="painting" />
    </div>
    <div class="hobby-vert hobby-img-2"><img src="/hobby-vert.webp" alt="painting" /></div>
    <div class="hobby-goriz hobby-img-3">
      <img src="/hobby-goriz.webp" alt="painting" />
    </div>
    <div class="hobby-goriz hobby-img-4">
      <img src="/hobby-goriz.webp" alt="painting" />
    </div>
  </div>
</section>
