@use '../../../../variables';

header {
  max-width: 1175px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.list-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logo-title {
  font-size: 30px;
  font-weight: 500;
  color: var(--logo-color);
}

.list-menu li a {
  font-size: 15px;
  transition:
    color 0.3s ease,
    font-weight 0.3s ease;
}

.list-menu li a:hover {
  font-weight: 700;
  color: var(--green);
}

.list-menu li.active {
  color: var(--green);
  font-weight: 700;
}

.hamburger-menu {
  display: none;
}

@media screen and (width <= 800px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (width <= 480px) {
  .logo-title {
    font-size: 20px;
  }

  .hamburger-menu {
    display: block;
    position: relative;
  }

  .menu-box {
    display: none;
  }

  .menu-box.open {
    display: block;
  }

  .menu-btn {
    width: 30px;
    height: 20px;
    position: relative;
    background: none;
    border: none;
  }

  .menu-btn span,
  .menu-btn span::before,
  .menu-btn span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--dark-grey);
    left: 0;
  }

  .menu-btn span {
    top: 50%;
  }

  .menu-btn span::before {
    top: -8px;
  }

  .menu-btn span::after {
    top: 8px;
  }

  .list-menu {
    display: none;
  }
}
