@import url("variables.css");

.articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 62px 34px;
    margin-top: var(--space77);
}


.articles-grid article:first-child {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
}

.card-text h3 {
    font-size: 24px;
    font-weight: 400;
    overflow-wrap: break-word;
}

.template-content {
    display: none;
}

.article-photo {
    height: 217px;
    margin-bottom: 8px;
}

.articles-grid article:first-child .card-text h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 16px;
}

.articles-grid article:first-child .card-text {
    min-width: 0;
}

.articles-grid article:first-child > .article-photo {
    height: 453px;
    grid-column: span 2;
}

.articles-grid article:first-child .template-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-bottom: 16px;
}

.delete-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    opacity: 0;
}

.delete-btn:hover {
    border: solid 1px var(--light-grey);
}

.btn-or-link-container {
    text-align: center;
    margin-top: 64px;
}

.string {
    margin-top: 86px;
    margin-bottom: 240px;
}

@media screen and (width <= 800px) {
    .articles-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .articles-grid article:first-child {
        grid-column: span 2;
        display: flex;
        flex-direction: column;  
    }
 
    .card {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
    }

    .article-photo {
        height: auto;
    }

    .btn-more {
        grid-column: span 2;
    }

    .delete-btn {
        opacity: 1;
    }
}

@media (width <= 480px) {
    .articles-grid {
        row-gap: 30px;
    }

    .main-card h3 {
    font-size: 26px;
    line-height: normal;
    }

    .main-card-text > p {
        margin-bottom: 8px;
    }

    .regular-card-text > h3 {
        margin-bottom: 8px;
    }

    .btn-more {
        margin-top: 0;
    }
}