@import url("variables.css");

.hobby {
    margin-top: var(--space112);
}

.hobby-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 25px 36px;
}

.hobby-title {
    grid-column: 1/span 2;
    grid-row: 1/2;
    font-size: 52px;
}

.hobby-vert,
.hobby-goriz {
    height: 100%;
    width: 100%;
}

.hobby-img-1 {
    grid-column: 1 / span 1;
    grid-row: span 2;
}

.hobby-img-2 {
    grid-area: 2 / span 1;
    grid-row: span 2;
}

/* .hobby-goriz {
    height: 264px;
    width: 553px;
    grid-column: 3/-1;
} */

.hide-info {
    position: relative;
}

.hide-info-text {
    position: absolute;
    left: 16px;
    right: 16px;
    top: 24px;
    color: var(--white);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.hide-info-text h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.hide-info::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-opacity-grey);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hide-info:hover::after,
.hide-info:hover .hide-info-text {
    opacity: 1;
}

