:root {
    --logo-color: #1A1B20;
    --dark-dark-grey: #1E2128;
    --dark-grey: #323747;
    --middle-grey: #68686A;
    --light-grey: #BDC1CA;
    --orange: #DB5E31;
    --light-beige: #FEF3EF;
    --footer-white: #FDFEFF;
    --green: #61C15C;
    --light-green: #61C15C;
    --space112: 112px;
    --space107: 107px;
    --space91: 91px;
    --space77: 77px;
    --space67: 67px;
    --space57: 57px;
}