@if (isOpen()) {
  <section class="add-article">
    <form
      [formGroup]="blogPostForm"
      (ngSubmit)="onSubmit()"
      action="add-text"
      method="post"
      class="add-article-form"
    >
      <h2>{{ formTitle() }}</h2>
      @let isTitleStrInvalid = hasError('title');
      @let isCategoryInvalid = hasError('category');
      <label for="category">Выберите рубрику: </label>
      <mat-form-field class="full-width">
        <mat-label class="invisible">Категория</mat-label>
        <input type="text" matInput formControlName="category" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (cat of filteredCategories$ | async; track cat.id) {
            <mat-option [value]="cat">
              {{ cat.name }}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      @if (isCategoryInvalid) {
        @for (errorMsg of getControlErrors('title'); track $index) {
          <div class="error">{{ errorMsg }}</div>
        }
      }
      <label for="add-title" class="invisible">Заголовок</label>
      <input
        formControlName="title"
        type="text"
        id="add-title"
        name="title"
        required
        placeholder="Заголовок"
        [class.error-border]="isTitleStrInvalid"
      />
      @if (isTitleStrInvalid) {
        @for (errorMsg of getControlErrors('title'); track $index) {
          <div class="error">{{ errorMsg }}</div>
        }
      }
      <div>
        @let isTextStrInvalid = hasError('text');
        <label for="add-content" class="invisible">Текст</label>
        <textarea
          formControlName="text"
          id="add-content"
          name="content"
          required
          placeholder="Текст статьи"
          [class.error-border]="isTextStrInvalid"
        ></textarea>
        @if (isBackendMode) {
          <div class="file-upload-section">
            <label>Изображение статьи</label>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
          </div>
        }
        @if (isTextStrInvalid) {
          @for (errorMsg of getControlErrors('text'); track $index) {
            <div class="error text-error">{{ errorMsg }}</div>
          }
        }
      </div>
      <div class="btns-for-new-articles">
        <button
          [disabled]="!blogPostForm.valid"
          type="submit"
          class="btn btn-submit btn-submit-add-article"
        >
          {{ saveBtnTitle() }}
        </button>
        <button (click)="onCancel()" type="button" class="btn light-btn close-form-btn">
          Отмена
        </button>
      </div>
    </form>
  </section>
}
