//позже эти стили перенесу в компонент формы//

input:disabled,
textarea:disabled {
  background-color: var(--light-green);
  color: var(--light-grey);
  cursor: not-allowed;
  opacity: 0.7;
}

.btn-submit-add-article:disabled {
  background-color: var(--light-grey);
  color: var(--white);
}

.close-form-btn:disabled {
  border-color: var(--light-grey);
  color: var(--light-grey);
}
