@use '../../../../variables';

.main-page-item {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.about-me {
  position: relative;
  gap: 190px;

  .head-text {
    flex: 1;

    h1 {
      font-size: 52px;
      color: var(--dark-grey);
      margin-bottom: 35px;
    }

    p {
      color: var(--middle-grey);
      margin-bottom: 14px;
    }

    a {
      display: inline-flex;
      align-items: center;
      color: var(--green);
      font-size: 15px;

      img {
        height: 1em;
        width: auto;
        transition: transform 0.3s ease;
        padding-left: 14px;

        &:hover {
          transform: translateX(14px);
        }
      }
    }
  }

  .head-img {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 480 / 650;
    overflow: hidden;
    border-bottom-left-radius: 273px;
    border-bottom-right-radius: 273px;

    .my-blog-circle {
      position: absolute;
      top: 254px;
      right: 385px;
      transition: transform 0.3s ease;
    }
  }
}

@media (width <= 480px) {
  .head-img {
    display: none;
  }

  .about-me {
    .head-text {
      h1 {
        font-size: 32px;
      }
    }
  }
}
