<section class="about-me main-page-item">
  <div class="head-text">
    <h1>Обо мне</h1>
    <p class="p15">
      Добро пожаловать! Я веб-разработчик с 5-летним опытом в создании интерактивных интерфейсов. На
      этом блоге я делюсь своими знаниями, проектами и идеями о том, как технология меняет способ
      общения людей. Здесь вы найдёте туториалы, кейсы из реальной практики и вдохновляющие истории.
    </p>
    <a href="#skills" class="p15">Больше обо мне <img src="./arrow.svg" alt="arrow" /></a>
  </div>
  <div class="head-img">
    <img src="./head-img.webp" alt="nature" />
    <div class="my-blog-circle"><img src="./my-blog.svg" alt="my-blog" /></div>
  </div>
</section>
