<footer id="footer" class="footer-main">
  <div class="footer-container">
    <address class="contacts">
      <h2>Say hello and let's work together !</h2>
      <p>
        <a href="mailto:alex@creativeblog.ru?subject=Новая%20статья">Email: alex@creativeblog.ru</a
        ><br /><a href="tel:+79991234567">Телефон: +7 (999) 123-45-67</a>
      </p>
      <div class="social-networks">
        <div class="footer-icon"><img src="./vk.svg" alt="logo-vk" /></div>
        <div class="footer-icon"><img src="./tg.svg" alt="logo-tg" /></div>
        <div class="footer-icon">
          <img src="./github.svg" alt="logo-github" />
        </div>
      </div>
    </address>
    <form action="add-text" method="post" class="footer-form">
      <div>
        <label for="title">Email</label>
        <input type="text" id="title" name="title" required placeholder="Ваш email" />
      </div>
      <div>
        <label for="content">Введите сообщение</label>
        <textarea
          type="text"
          id="content"
          name="content"
          required
          placeholder="Опишите проект"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-submit p18">Добавить</button>
    </form>
    <p class="footer-tm">© 2026 Brand, Inc</p>
  </div>
</footer>
