<section class="experience">
  <div class="experience-title">
    <h2>Моя карьера</h2>
    <p class="p21">
      Duis nisi do exercitation in irure aliqua commodo nisi eu id reprehenderit dolore fugiat
      consectetur irure
    </p>
  </div>
  <div class="experience-list">
    @for (item of workPlaces; track item) {
      <div class="work-place">
        <div class="firm-logo"><img class="logo" [src]="item.img" alt="firm-logo" /></div>
        <div class="exp-description">
          <h3 class="p16 mb-14">{{ item.company }}</h3>
          <p class="p20 mb-14">{{ item.position }}</p>
          <p class="p16">{{ item.responsibilities }}</p>
        </div>
      </div>
    }
  </div>
</section>
