@use '../../../../variables';

.category {
  margin-bottom: 8px;
}

:host {
  &:nth-child(odd) .card {
    background-color: var(--light-beige);

    .category {
      color: var(--orange);
    }
  }

  &:nth-child(even) .card {
    background-color: var(--light-green);

    .category {
      color: var(--green);
    }
  }
}

.main-page-item {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: center;
  gap: 50px;
}

.main-page-article h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

.main-page-article-text {
  padding-left: 41px;
  padding-top: 63px;
  flex: 1;
  overflow-wrap: anywhere;
  margin-bottom: 16px;
}

.template-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 16px;
}

.main-page-article {
  border-radius: 8px;
}

.main-page-article-img {
  flex: 1.5;
  overflow: hidden;
}

@media screen and (width <= 800px) {
  .main-page-article {
    padding-bottom: 30px;
  }
}

@media (width <= 480px) {
  .last-articles {
    gap: 30px;
  }

  .main-page-article {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }

  .main-page-article h3 {
    font-size: 22px;
  }

  .main-page-article-text {
    padding: 20px;
  }

  .btn-all-posts {
    margin-top: 20px;
  }
}
