<article class="main-page-article main-page-item card">
  <div class="main-page-article-text">
    <p class="p16 category">Рубрика</p>
    <h3>Как создать адаптивный дизайн за 30 минут</h3>
    <p class="p16">
      В этой статье я расскажу о ключевых принципах создания мобильных интерфейсов, которые
      одинаково хорошо выглядят на всех устройствах. Вы узнаете о медиа-запросах, гибких сетках и
      практических примерах кода, которые можно использовать прямо сейчас.
    </p>
  </div>
  <div class="main-page-article-img">
    <img src="./template.webp" alt="article-img" />
  </div>
</article>
